<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kontakt</h2>
                <h3 class="section-subheading" style="color:#ffffff"><b>Hana Činčerová</b></h3>
                <h3 class="section-subheading" style="color:#ffffff"><b>+420 603919648</b></h3>
                <h3 class="section-subheading" style="color:#ffffff"><b>cinciha@gmail.com</b></h3>
            </div>
        </div>
    </div>
</section>
