<!-- Services Section -->
<section id="general">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">General Information</h2>
                <h3 class="section-subheading text-muted">All you need to know about the competition.</h3>
                <!--<h3 class="section-subheading text-muted"><a href="#covid" data-toggle="modal" style="color:red;text-decoration:underline"><b>Please note our Covid rules</b></a></h3>-->
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Date</h4>
                <p class="text-muted">21st April 2024</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Location</h4>
                <p class="text-muted">
                    <a target="_blank" href="https://maps.app.goo.gl/QWaSqGu3yXRLQDyz5">Municipal swimming pool</a>,
                    U Plovárny 1221<br />
                    Litomyšl, Czech Republic<br>
                    <a href="#accommodation" class="portfolio-link" data-toggle="modal">Accommodation</a>
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-euro fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Entry fee</h4>
                <p class="text-muted">
                    95 Euros for AIDA members<br>
                    100 Euros for Austrian citizens without AIDA membership<br>
                    <!-- <b>Bank details:</b><br>
                    Bank: Bank Austria<br>
                    Recipient: AIDA Austria<br>
                    IBAN: AT391200010501600002<br>
                    BIC: BKAUATWW<br>
                    Purpose: Hydros 2023 + Your name<br><br>
                    For international transfers outside the EU please <a
                        href="mailto:competition@aida-austria.at">contact us</a> -->
                </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Starting places</h4>
                <p class="text-muted">
                    Max. 36 athletes<br>
                    Currently registered athletes: 0<br>
                    <!--
                        Last update: 18.11.2023<br>
                        Athletes on the waiting list: 0<br>
                        <b>Registration closed!</b><br>
                        -->
                    <!--<a href="#inlist" class="portfolio-link" data-toggle="modal">Starter list</a>-->
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-hourglass-3 fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Registration</h4>
                <p class="text-muted">
                    <a href="https://www.aidainternational.org/Events/EventRegistration-1091" target="_blank">Register
                        here (aidainternational.org)</a><br>
                    Deadline: 21.03.2024
                </p>
            </div>
        </div>
    </div>
</section>