<!-- Services Section -->
    <section id="general">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">General Information</h2>
                    <h3 class="section-subheading text-muted">All you need to know about the competition.</h3>
                    <!--<h3 class="section-subheading text-muted"><a href="#covid" data-toggle="modal" style="color:red;text-decoration:underline"><b>Please note our Covid rules</b></a></h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flag-checkered fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Competition</h4>
                    <p class="text-muted">AIDA National championship, individual, national (with international guests), no final, world record status, <a target="_blank" href="https://www.aidainternational.org/documents">Regulations</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Date</h4>
                    <p class="text-muted">21.-22. October 2023</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Location</h4>
                    <p class="text-muted">
                        <a target="_blank" href="https://www.openstreetmap.org/#map=18/48.09897/16.31162">BSFZ Südstadt</a>, 1, Liese-Prokop-Platz, Maria Enzersdorf, Lower Austria, 2344, Austria<br>
                        <a href="#accommodation" class="portfolio-link" data-toggle="modal">Accommodation and Transport</a>
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-euro fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Entry fee</h4>
                    <p class="text-muted">
                        95 Euros for AIDA members<br>
                        100 Euros for Austrian citizens without AIDA membership<br>
                        <b>Bank details:</b><br>
                        Bank: Bank Austria<br>
                        Recipient: AIDA Austria<br>
                        IBAN: AT391200010501600002<br>
                        BIC: BKAUATWW<br>
                        Purpose: Hydros 2023 + Your name<br><br>
                        For international transfers outside the EU please <a href="mailto:competition@aida-austria.at">contact us</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Starting places</h4>
                    <p class="text-muted">
                        Max. 48 athletes<br>
                        Currently registered athletes: 46<br>
                        <!--
                        Last update: 15.11.2022<br>
                        Athletes on the waiting list: 0<br>
                        <b>Registration closed!</b><br>
                        -->
                        <!--<a href="#inlist" class="portfolio-link" data-toggle="modal">Starter list</a>-->
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hourglass-3 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Registration</h4>
                    <p class="text-muted">
                        <a href="https://www.aidainternational.org/Events/EventRegistration-1091" target="_blank">Register here (aidainternational.org)</a><br>
                        Deadline: 01.10.2023
                    </p>
                </div>
            </div>
        </div>
    </section>
