 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>{{ post.ot-time }}
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<!--

<div class="portfolio-modal modal fade" id="covid" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Covid rules</h2>
                        <hr class="star-primary">
                        <div style="text-align:left">
Dear athletes,<br>
<br>
back in 2020 we wrote that we hope that COVID-19 is soon a thing of the past. Unfortunately this wish was not granted.
<br>
As organizers the liability rests on our shoulders as well as the
responsibility for you as an athlete and all of our safeties, helpers,
judges and anybody else present at the competition. Because of this we decided to implement the following rules in correspondence with our medical experts. In detail they are:

<ul>
<li> Medical certificate must not be older than 12 months (cut-off date: 20.10.2022).
<li> Medical certificate may not predate any COVID-19 infection of the athlete.
<li> No restriction regarding vaccination or recovery status is currently in place.
<li> Additional restrictions imposed by the Austrian government might apply and will be listed here. Currently (28.03.2023) there are no additional restrictions imposed.
</ul>

<br>
All the best,<br>
Katrin & Arno
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->

<div class="portfolio-modal modal fade" id="accommodation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Accommodation</h2>
                        <hr class="star-primary">
                        <!-- <img src="img/portfolio/accommodation.jpg" class="img-responsive img-centered" alt="Accommodation and transport"> -->
                        <div style="text-align:left">
                            <b>Accommodation</b><br><br>
                            <ul>
                                <li><a target="_blank" href="https://www.zamecke-navrsi.cz">Zámecké návrší Litomyšl</a></li>
                                <li><a target="_blank" href="https://www.hotelaplaus.cz">Hotel Aplaus</a></li>
                                <li><a target="_blank" href="https://www.bludicka.cz">Penzion Bludička</a></li>
                                <li><a target="_blank" href="https://www.zlatahvezda.com">Hotel Zlatá hvězda</a></li>
                                <li><a target="_blank" href="https://www.paseka.cz">Penzion Paseka</a></li>
                                <li><a target="_blank" href="https://www.podklasterem.cz">Penzion Pod Klášterem</a></li>
                                <li><a target="_blank" href="https://www.pension-kraus.cz">Penzion Kraus</a></li>
                                <li><a target="_blank" href="https://www.penzion-lilie.cz">Penzion Lilie</a></li>
                                <li><a target="_blank" href="http://www.penzion-merkur.cz">Penzion Merkur</a></li>
                            </ul>
                            <br>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="inlist" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Starter list</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/inlist.jpg" class="img-responsive img-centered" alt="Starter list">
                        <div style="text-align:left">
                            <ul>
                                <li>The last time the athlete list was updated is: N/A</li>
                                <li>The last time the payment information was updated is: N/A</li>
                                <li>Should something be wrong, please <a href=mailto:"competition@aida-austria.at">contact us</a>
                            </ul>
                        </div>
                        <div style="text-align:left">
                            <b>Athletes on final starting list (paid fees)</b><br><br>
                            <ul>
                            <li>N/A</li>
                            </ul>
                            <br>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
