<!-- About Section -->
    <section id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Rozvrh</h2>
                    <h3 class="section-subheading text-muted">Předběžný rozvrh, může se měnit</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. Březen 2024</h4>
                                    <h4 class="subheading">Uzávěrka přihlášek</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Všichni závodníci musí být přihlášeni do tohoto dne a mít zaplacený registrační poplatek.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. Duben 2024: 07:00 - 08:30</h4>
                                    <h4 class="subheading">Registrace závodníků</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Please do not forget to bring your medical certificate.</p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. Duben 2024: 08:45</h4>
                                    <h4 class="subheading">Porada rozhodčích</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Can you feel the excitement?</p> -->
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-hourglass-1 fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. Duben 2024: 09:15</h4>
                                    <h4 class="subheading">První warm-up STA</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Time to relax before STA</p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-hourglass-end fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. Duben 2024: 10:00</h4>
                                    <h4 class="subheading">Official Top STA</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Plus one, two, three, ...</p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-hourglass-start fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. Duben 2024: 12:45</h4>
                                    <h4 class="subheading">První warm-up DYN</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Plus one, two, three, ...</p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-hourglass-start fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. Duben 2024: 13:30</h4>
                                    <h5 class="subheading">Official Top DYN</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Including lots of bling bling</p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-hourglass-end fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. Duben 2024: 16:00</h4>
                                    <h4 class="subheading">Konec DYN</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Plus one, two, three, ...</p> -->
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. Duben 2024: 17:00</h4>
                                    <h5 class="subheading">Vyhlášení</h4>
                                </div>
                                <div class="timeline-body">
                                    <!-- <p class="text-muted">Including lots of bling bling</p> -->
                                </div>
                            </div>
                        </li>

                        <li class="timeline-image">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. Duben 2024: 18:00</h4>
                                    <h4 class="subheading">Party</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><!--Location: to be announced--><a target="_blank" href="https://maps.app.goo.gl/FweWse6nxEWb9cQ77">Městský park #krabicakVlastni</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
