<!-- About Section -->
    <section id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Schedule</h2>
                    <h3 class="section-subheading text-muted">Preliminary schedule, subject to change</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. March 2024</h4>
                                    <h4 class="subheading">Registration deadline</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">All athletes need to be registered by this date and must have paid the starting fee.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. April 2024: 07:00 - 08:30</h4>
                                    <h4 class="subheading">Registration</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Please do not forget to bring your medical certificate.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. April 2024: 08:45</h4>
                                    <h4 class="subheading">Judge briefing and welcome address</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Can you feel the excitement?</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-hourglass-1 fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. April 2024: 09:15</h4>
                                    <h4 class="subheading">First Warmup, Day 1</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Time to relax before STA</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-hourglass-end fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. April 2024: 10:00</h4>
                                    <h4 class="subheading">First Official Top STA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Plus one, two, three, ...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-hourglass-end fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. April 2024: 13:30</h4>
                                    <h4 class="subheading">Second Official Top DYN</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Plus one, two, three, ...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. April 2024: 17:00</h4>
                                    <h5 class="subheading">Ceremony</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Including lots of bling bling</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <span class="fa stack fa-3x" style="margin-top:17pt">
                                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>21. April 2024: 17:30</h4>
                                    <h4 class="subheading">Party</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><!--Location: to be announced--><a target="_blank" href="http://www.phoenix7.at/restaurant/">Městský park #krabicakVlastni</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
